::selection {
    background-color: #4682B4;
    color: #fff;
}
::-webkit-selection {
    background-color: #4682B4;
    color: #fff;
}



body {
    margin: 0;
    padding: 0;
}
header {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 500px;
    height: 113px;
    top: -13px;
}
.container_hed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 70px;
    padding: 10px!;
    margin: 5px 0;
}
.left {
    display: flex;
    align-items: center;
}
.contact {
    margin-right: 4em;
}
.social_networks {
    margin-left: auto;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#eye {
    height: 25px;
    weight: auto;
    top: 0;
}
#youtube {
    height: 25px;
    weight: auto;
    top: 0;
}
.separator {
    border-left: 1px solid black;
    height: 25px;
    margin: 0 10px 3.5px;
    top: 0;
}
.container_hed_2 img {
    height: 100px;
    width: auto;
    padding: 10px;
}
.header_two {
    width: 100%;
    z-index: 1000;
}
.sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 500px;
    max-height: 58px;
    background-color: rgb(67, 72, 189);
    margin-top: 70px;
}
.sections p {
    margin: 0 0.2%;
    padding: 1% 4%;
    font-size: large;
    height: 100%;
    display: flex;
    align-items: center;
}
.sections a {
    color: white;
    text-decoration: none;
}
.sections p:hover{
    background-color: rgba(66, 148, 189);
}

